# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.build/
dist/
build/

# Virtual envs
.venv/
venv/
ENV/

# Logs & runtime
logs/
.sync/
*.log

# Env & secrets
.env
*.env
.secrets/
*.key

# IDE/editor
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db